<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverIP" value="127.0.0.1"/>
    <add key="name" value="John"/>
    <add key="UDPPort" value="8311"/>
    <add key="TCPPort" value="8210"/>
    <add key="SamplesPath" value="ClientSamples"/>
    <add key="XMLSamplesList" value="sampleList.xml"/>
    <add key="XMLPadsBind" value="PadsBind.xml"/>
    <add key="XMLKeysBind" value="KeysBind.xml"/>
  </appSettings>
</configuration>